body{
	display: flex;
	flex-direction: column;}

	.navigation{

	height: 5%;
	width: 100%;
	background-color: #dad8d9;
	display: flex;
	justify-content: space-between;
}
.logo{
	width: 40%;
	margin: 20px;
}
.navbar{
	width: 60%;
}

ul{
	display: flex;
	justify-content: space-around;
	list-style: none;
}
a{
	text-decoration: none;
	font-family: 'Lato';
	font-size: 16pt;
	color: #684f27;
	font-weight: bold;
}

.maincontainer{
	height: 80%;
	width: 100%;
	
	display: flex;

	
}
.body{
	width: 70%;
	height: 100%;
	font-family: 'Lato';
	padding: 3%;
	color: #684f27;
	
}
.sidebar{
	width: 30%;
	height: 100%;
	/*background-color: #0e4749;
	opacity: 0.4;*/
	display: flex;
	flex-direction: column;
	font-size: 20pt;
	padding: 4%;
	font-weight: bold;
	color: #684f27;
	font-family: 'Lato';


	
}
p{
	font-size: 14pt;
}
h4{
	font-size: 16pt;
}
h1{
	color: #f05134;
}
h3{
	color: #f05134;
}
.link{
	margin: 20px;
	color: #818080;
}
.sidebar h3{
	margin: 20px;
}
.sidebar img{
 margin-top: 20%;
}
.footer{
	display: flex;
	justify-content: space-around;
	background-color: #91bde3;
	padding: 3%;
}

